.ma__search-banner {
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  font-size: 0;
  padding: 30px 0 95px;

  @media ($bp-small-min) {
    // IE11 hack to vertially align content with min-height.
    height: 1px;
    min-height: 800px;
  }

  .ma__stacked-row-section .page-content &:last-child {
    // Compensating for main-content margin.
    margin-bottom: -($standard-spacing--small);

    @media ($bp-large-min){
      // Compensating for main-content margin.
      margin-bottom: -($standard-spacing--large);
    }
  }

  &::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__container {
    @include ma-container;
    font-size: 1.375rem;
    position: relative;
    z-index: 2;
  }

  .ma__page-intro {
    text-align: center;

    h1 {
      @media ($bp-large-min) {
        font-size: 4.813rem;
      }
    }

    &__sub-title {
      @include ma-h3;
      padding: 0;
      width: 100%;
    }
  }

  // Backward compatible with v5.6 - title was replaced with Page Intro.
  &__title {
    margin-bottom: 0.4em;
    text-align: center;

    @media ($bp-large-min) {
      font-size: 5.313rem;
    }
  }

  // Backward compatible with v5.6 - intro was replaced with Page Intro.
  &__intro {
    @include ma-h3;
    margin-bottom: 0.5em;
    text-align: center;
  }

  &__form {
    display: flex;
    margin: 0 auto 60px;
    max-width: 746px;
  }

  &__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 40px;
    margin-right: 2px;

    @media ($bp-small-min) {
      height: 60px;
    }

    @media ($bp-medium-min) {
      height: 90px;
    }

    label {
      @include ma-visually-hidden;
    }

    input {
      border: none;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;

      @media ($bp-small-min) {
        font-size: 2rem;
      }
    }
  }

  &__button {
    @include ma-button-reset;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    font-size: 1.125rem;
    letter-spacing: $letter-spacing-large;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    transition: color 0.5s, fill 0.5s, background 0.5s;

    @media ($bp-small-min) {
      height: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media ($bp-medium-min) {
      height: 90px;
      padding-left: 30px;
      padding-right: 30px;
    }

    & > span {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;

      @media ($bp-small-max) {
        @include ma-visually-hidden;
      }
    }

    & > svg {
      display: inline-block;
      height: 20px;
      transition: color 0.5s, fill 0.5s, background 0.5s;
      vertical-align: middle;
      width: 20px;

      @media ($bp-small-min) {
        height: 30px;
        width: 30px;
      }
    }
  }

  &__links {
    margin-left: auto;
    margin-right: auto;
    max-width: 706px;

    .ma__comp-heading {
      font-size: 1.375rem;
      letter-spacing: $letter-spacing-large;
      margin-bottom: 0.75em;
      text-transform: uppercase;

      &::after {
        left: calc(50%);
        width: 84px;
      }
    }

    .ma__helpful-links__item {
      padding: 5px 0;
    }

    .ma__content-link {
      font-size: 1.5rem;

      span {
        border-bottom-width: 1px;
        transition: border 0.3s ease;

        &:hover {
          border-bottom-width: 3px;
        }
      }
    }
  }

  .ma__banner-credit {
    @include ma-container;
    bottom: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
  }

  // Start backward compatible with v5.7 - converted image-credit
  // to new Banner Credit molecule.
  &__image-credit {
    @include ma-container;
    bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
  }

  &__credits-container {
    padding: 8px 30px;
    position: relative;
  }

  &__icon {
    left: 0;
    position: absolute;
    top: 0;

    & > svg {
      height: 27px;
      width: 20px;
    }
  }

  &__image-name {
    font-size: 1rem;
    line-height: 1.125rem;
  }

  &__image-author {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  // End backward compatible with v5.7 - converted image-credit
  // to new Banner Credit molecule

}

//theme
.ma__search-banner {
  background-position: center center;
  background-size: cover;
  position: relative;

  &::after {
    background-color: rgba($c-black, 0.6);
  }

  &__container {
    @include ma-container;
  }

  .ma__page-intro {

    h1 {
      color: $c-font-inverse;
      font-weight: 300;
    }

    &__sub-title {
      color: $c-font-inverse;
      font-weight: 400;
    }
  }

  // Backward compatible with v5.6 - title was replaced with Page Intro.
  &__title {
    color: $c-font-inverse;
    font-weight: 300;
  }

  // Backward compatible with v5.6 - intro was replaced with Page Intro.
  &__intro {
    color: $c-font-inverse;
    font-weight: 400;
  }

  &__input {

    input {
      background-color: rgba(255, 255, 255, 0.75);
      font-weight: 300;
    }

    &::-webkit-input-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    &:-moz-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    &::-moz-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }

    &:-ms-input-placeholder {
      color: $c-font-medium;
      font-weight: 300;
      font-style: italic;
    }
  }

  &__button {
    background-color: rgba(255, 255, 255, 0.75);
    color: $c-font-base;
    font-weight: 700;

    & > svg {
      fill: $c-font-dark;
    }

    &:hover {
      background-color: $c-theme-secondary;
      color: $c-font-inverse;

      & > svg {
        fill: $c-font-inverse;
      }
    }
  }

  &__links {

    .ma__comp-heading {
      color: $c-font-inverse;
    }

    .ma__decorative-link a {
      color: $c-font-inverse;
      font-weight: 400;

      &:hover {
        border-bottom-color: rgba($c-font-inverse, 0.5);
      }

      & svg {
        fill: rgba($c-font-inverse, 0.5);
      }
    }
  }

  .ma__banner-credit {

    &__icon {

      & > svg {
        fill: $c-font-inverse;
      }
    }

    &__image-name {
      color: rgba($c-font-inverse, 0.9);
    }

    &__image-author {
      color: rgba($c-font-inverse, 0.5);
    }
  }

  // Start backward compatible with v5.7 - converted image-credit
  // to new Banner Credit molecule
  &__icon {

    & > svg {
      fill: $c-font-inverse;
    }
  }

  &__image-name {
    color: rgba($c-font-inverse, 0.9);
    font-weight: 400;
  }

  &__image-author {
    color: rgba($c-font-inverse, 0.5);
    font-weight: 400;
  }
  // End backward compatible with v5.7 - converted image-credit
  // to new Banner Credit molecule
}
