@mixin ma-component-spacing($size: small) {
  @if($size == large) {
    margin-top: $standard-spacing--small;

    @media ($bp-small-min) {
      margin-top: 60px;
    }

    @media ($bp-medium-min) {
      margin-top: $standard-spacing--large;
    }
  }
  @else {
    margin-top: 30px;

    @media ($bp-small-min){
      margin-top: $standard-spacing--small;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}
