.ma__bio {

  .ma__bio__content {
    // 10px is located on the `.ma__relationship-indicators`.
    margin-top: ($standard-spacing--large - 10);

    .sidebar {

      @media ($bp-large-max) {
        display: none;
      }
    }
  }

  .ma__header-tags {
    @include ma-container;
    padding-top: 20px;
    padding-bottom: $standard-spacing--large;
  }

  .ma__bio__inlined-aside {

    @media ($bp-large-min) {
      display: none;
    }

    &.sidebar {

      @media ($bp-large-max) {
        display: block;
      }
    }
  }
}
